body {
  margin: 0;
  overflow: hidden;
  color: #EEE;
}

canvas {
  width: 100%;
  height: 100%;
}

#toolbar {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.msg-center {
  position: absolute;
  color: #FFF;
  width: 800px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-left: -400px;
  margin-top: -25px;
  z-index: 1;
  text-align: center;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 40px;
}

.md-dialog-content {
  min-width: 300px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#debug, #game-time {
  color: #FFF;
  font-family: "Lucida Console", Monaco, monospace;
  padding: 10px;
}

#game-time {
  font-size: 30px;

  .small {
    font-size: 12px;
    text-align: center;
  }
}
