md-dialog(aria-label='Login' ng-cloak)
  form(name='updateAIForm')
    md-toolbar
      .md-toolbar-tools
        h2 Deploy a new player
        span(flex)
        md-button.md-icon-button(ng-click='close()')
          md-icon.material-icons close
      
    md-dialog-content
      .md-dialog-content
        md-subheader.md-no-sticky Select your player
        
        .md-padding(layout='row' layout-align='center center')
          md-button.md-fab.md-raised.md-hue-3.md-mini(browse-files='file')
            md-tooltip(md-direction='down') Browse files...
            md-icon.material-icons folder_open
          
          span(flex='5')
          
          div
            em {{ file.name || 'No file selected...' }}
        
        md-divider
        
        md-subheader.md-no-sticky Deployment progress
        
        md-list
          md-list-item(ng-repeat='task in tasks' ng-class='task.status')
            md-icon.material-icons(ng-if='task.status != "working"')
              | {{ task.status == 'pending' ? 'watch_later' : task.status }}
            md-progress-circular(
              ng-if='task.status == "working"'
              md-mode='{{ task.progress != undefined ? "determinate" : "indeterminate" }}'
              value='{{task.progress}}'
            )
            p {{ task.description }}
            md-button.md-icon-button.md-warn(ng-show='task.status == "error"')
              md-icon.material-icons message
              md-tooltip(md-direction='down') {{ task.tip }}

    md-dialog-actions(layout='row' layout-align='center center')
      md-button.md-raised.md-primary(ng-click='deploy()' ng-disabled='deploying || fileIsInvalid()')
        md-tooltip(md-direction='top') Deploy
        md-icon.material-icons cloud_upload
